@tailwind base;
@tailwind components;
@tailwind utilities;

.letra{
    color: rgb(3, 166, 172);
    font-size: 30px;
}

.tabla{
    width: 100%;
}

.tabla td, .tabla th{
    padding: 4px;
    margin: 4px;
    border: 1px solid rgb(86, 105, 95);
}
/*Color encabezado de tabla*/
.tabla th{
    color: #fff;
    background-color: rgba(6, 139, 46, 0.925);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.tabla tr:nth-child(even){
    background-color: rgb(230, 230, 230);
}



.tabla tr:hover{
    background-color: rgba(18, 155, 64, 0.589);
    cursor: pointer;
}


/*m-10 flex justify-center text-blue-400 font-extrabold*/

/* about us*/


.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.imagen-about-us{
    width: 46%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #01ccff;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* galeria */

.portafolio{
    background: #a9fcff42;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 19px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(180, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* clientes */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #067386;
    display: flex;
    width: 40%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* our team*/

.abour-sercivios{
    background: #ffffff;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* estilos de pagina damin */

 /* main */

.contenedor {
    margin: auto;
    padding: var(--margenes) 0;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}

.contenedor h3 {
    font-size: var(--titulos);
    color: var(--color1);
    margin-bottom: var(--espacios);
}

.contenedor p {
    font-size: var(--subtuitulos);
    font-weight: 300;
    color: var(--color1);
}

.after::after {
    content: "";
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 100px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--espacios-contenido);
}

.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-card {
    width: 31%;
    box-shadow: 0 0 12px 0 rgba(0, 81, 255, 0.5);
    overflow: hidden;
    height: 300px;
}

.people {
    height: 80%;
}

.content-card img {
    width: 100%;
    height: 100%;
    object-fit: center;

}

.texto-team {
    height: 20%;
    width: 100%;
    padding: var(--espacios) 0;
}

.about {
    /*background: rgba(221, 156, 156, 0.637);*/
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.753),
            rgba(177, 248, 255, 0.438),
            rgb(255, 255, 255)),
        /*url(../img/teclado.jpg);*/
        rgb(255, 255, 255);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.servicios {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.img-work {
    height: 90%;
    width: 100%;
}

.img-work img {
    height: 100%;
    width: 100;
    object-fit: cover;
}

.textos-work {
    height: 10px;
}

.textos-work h4 {
    line-height: 30px;
    font-weight: 300;
}

*/
/* portafolio */

.portafolio {
    background: #ffffff;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    /*position: relative;*/
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(2, 2, 2, 0.5);
}

